@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(19, 26, 31);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(42, 46, 49);
  border-radius: 20px;
}

body {
  background-color: rgba(19, 26, 31);
  font-family: "roboto";
  color: #fff;
}

main {
  background-image: url(./assets/bgPic/612526.jpg);
  /* background-size: cover; */
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

nav {
  position: sticky;
  height: 50px;
  top: 0;

  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: rgba(255, 255, 255, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(34, 34, 34, 0.45);
  transition: background-color 0.5s ease-in-out;
}

.navbar.change {
  background: rgba(19, 26, 31, 0.45);
  backdrop-filter: blur(50px);
}

header {
  background: linear-gradient(180deg,
      rgba(34, 34, 34, 0.45) 0%,
      rgba(13, 13, 13, 0.585) 29.17%,
      rgba(19, 26, 31, 1) 90.1%);
  height: 100vh;
  padding: 0px 50px 0px 80px;
}


section {
  height: 90vh;
}

.title {
  font-family: "Roboto Slab";
  height: 60vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.title h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  font-size: 110px;
  line-height: 145px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(253, 253, 253, 0.9);
  margin-left: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  border: 2px solid #e6e6e6;
  backdrop-filter: blur(1px);
}

.gallery .planetTitle {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;

  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 283px;
  height: 159px;
  border: 1px solid #464646;
  background: url(./assets/bgCard.png);
  opacity: 0.85;
  background-size: cover;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(2.5px);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card p {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.cardImg {
  height: 100px;
}


@media screen and (max-width: 1020px) {
  header {
    padding: 0px 10px;
  }

  .gallery {
    align-items: center;
  }

  .cardsGrid {
    justify-content: center;
  }

  .card {
    width: 340px;
    height: 170px;
  }
}

@media screen and (max-width: 1320px) {
  .cardsGrid {
    justify-content: center;
  }
}